<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        
        <div class="container">
            <h1>Here are our campgronds</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
        
            <a class="btn btn-primary btn-lg" href="/campgrounds/new">Create new campground</a>
        </div>
        
    </header>

    <div class="row text-center" id="capground-grid">
        
        <% campgrounds.forEach(function (campground){ %>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card mb-md-2 mb-sm-1">
                    <img class="card-img-top" src=" <%= campground.img %> " alt="<%= campground.name %>">
                    <div class="card-body">
                        <h4 class="card-title"><%= campground.name %></h4>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary m-0">More info</a>
                    </div>
                          
                </div>
            </div> 
        <% }) %>
        
    </div>



</div>


<% include ../partials/footer %>